/*Css de indexencargado*/
.grid-container {
  display: grid;
  padding: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.content {
  padding: 10px 10px 10px;
}

.content h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.content p {
  margin-top: 0;
  margin-bottom: 0;
}


/*CSS de registro de alumos*/
.containeral {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.formulario {
  flex: 0 0 48%; /* Para que el formulario ocupe el 48% del ancho disponible */
}

.formulario h2 {
  margin-top: 0;
}

.alumnos-container {
  flex: 0 0 48%; /* Para que el contenedor de alumnos ocupe el 48% del ancho disponible */
}

.alumno-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
}

.alumno-card button {
  margin-top: 10px;
}

/*contenedor de formulario*/
/* Estilos para el contenedor del formulario */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #DEDEDE;#FFFFFF /* Color de fondo rojo */
  border-radius: 8px;
}

/* Estilos para las etiquetas */
.form-container label {
  display: block;
  margin-bottom: 1px 5px 9px;
  padding: 10px;
}
.form-container textarea {
  display: block;
  margin-bottom: 1px 5px 9px;
  padding: 10px;
  width: 95%;
  padding: 10px ;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.relleno{
   display: block;
  margin-bottom: 1px 5px 9px;
  padding: 10px;
  width: 95%;
  padding: 10px ;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Estilos para los campos de entrada */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 95%;
  padding: 10px ;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*css para la solicitud de requisiciones*/
 table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
    .status-select {
        width: 100%;
    }